In [1]:
import numpy as np
import pandas as pd
from pydataset import data
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler, RobustScaler, StandardScaler, QuantileTransformer
from sklearn.model_selection import train_test_split
from scipy import stats
import wrangle

Our Telco scenario continues:

As a customer analyst for Telco, you want to know who has spent the most money with the company over their lifetime. You have monthly charges and tenure, so you think you will be able to use those two attributes as features to estimate total charges. You need to do this within an average of $5.00 per customer.

In these exercises, you will run through the stages of exploration as you continue to work toward the above goal.

Do your work in a notebook named explore.ipynb. In addition, you should create a file named explore.py that contains the following functions for exploring your variables (features & target).

1.  Make sure to perform a train, validate, test split before and use only your train dataset to explore the relationships between independent variables with other independent variables or independent variables with your target variable.

In [2]:
telco_df = wrangle.wrangle_telco()
telco_df.head()

  customer_id  monthly_charges  tenure  total_charges
0  0013-SMEOE           109.70      71        7904.25
1  0014-BMAQU            84.65      63        5377.80
2  0016-QLJIS            90.45      65        5957.90
3  0017-DINOC            45.20      54        2460.55
4  0017-IUDMW           116.80      72        8456.75

In [4]:
telco_df.shape

(1695, 4)

In [5]:
telco_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1695 entries, 0 to 1694
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   customer_id      1695 non-null   object
 1   monthly_charges  1695 non-null   float64
 2   tenure           1695 non-null   int64
 3   total_charges    1695 non-null   float64
dtypes: float64(2), int64(1), object(1)
memory usage: 66.2+ KB

In [6]:
train, validate, test = wrangle.telco_split_continuous(telco_df)

In [7]:
train.shape, validate.shape, test.shape

((949, 4), (407, 4), (339, 4))

In [8]:
train = train.set_index("customer_id")
validate = validate.set_index("customer_id")
test = test.set_index("customer_id")

In [9]:
train.head()

             monthly_charges  tenure  total_charges
customer_id
3508-VLHCZ             90.55      71        6239.05
9337-SRRNI             25.30      66        1673.80
9715-WZCLW             97.20      71        6910.30
9975-GPKZU             19.75      46         856.50
9430-NKQLY             25.10      72        1790.80

2.  Write a function named plot_variable_pairs that accepts a dataframe as input and plots all of the pairwise relationships along with the regression line for each pair.

3.  Write a function named months_to_years that accepts your telco churn dataframe and returns a dataframe with a new feature tenure_years, in complete years as a customer.

4.  Write a function named plot_categorical_and_continuous_vars that accepts your dataframe and the name of the columns that hold the continuous and categorical features and outputs 3 different plots for visualizing a categorical variable and a continuous variable.

5.  Save the functions you have written to create visualizations in your explore.py file. Rewrite your notebook code so that you are using the functions imported from this file.

6.  Explore your dataset with any other visualizations you think will be helpful.

7.  In a seperate notebook, use the functions you have developed in this exercise with the mall customers dataset.